# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
.env.*
.env.production

# Node
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Docker
.Dockerfile
**/*.log
