alembic==1.12.2
fastapi==0.120.0
gunicorn==22.1.0
httpx==0.24.1
passlib[bcrypt]==1.7.4
psycopg[binary]==3.2.0
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
python-multipart==0.1.0
pydantic==2.8.0
redis==5.3.0
sqlalchemy==2.0.20
uvicorn[standard]==0.23.2
firebase-admin==7.0.0
aiofiles==23.2.1
